<h1>Recept módosítása</h1>
<form class="form-horizontal col-lg-8 col-lg-offset-2"
      method="post" action="/alter">
    <div class="form-group">
      <label for="leiras" class="col-lg-2 control-label">Étel neve: </label>
      <div class="col-lg-10">
        <textarea class="form-control" 
               name="foodName" id="foodName">{{recipe.foodName}}</textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="leiras" class="col-lg-2 control-label">Hozzávalók: </label>
      <div class="col-lg-10">
        <textarea class="form-control" 
               name="ingredients" id="ingredients">{{recipe.ingredients}}</textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="leiras" class="col-lg-2 control-label">Elkészítés: </label>
      <div class="col-lg-10">
        <textarea class="form-control" 
               name="preparation" id="preparation" 
               placeholder="Írja le az elkészítés módját...">{{recipe.preparation}}</textarea>
      </div>
    </div>
    
    <div class="form-group">
      <label for="leiras" class="col-lg-2 control-label">Típus: </label>
      <div class="col-lg-10">
        <select class="form-control" name="foodType" id="foodType" value = '{{recipe.foodType}}'>
            <option >Leves</option>
            <option >Főzelék</option>
            <option >Saláta</option>
            <option >Szendvics</option>
            <option >Sütemény</option>
            <option >Egyéb</option>
        </select>
      </div>
    </div>
    
    <div class="form-group">
      <label for="leiras" class="col-lg-2 control-label"></label>
      <div class="col-lg-10">
        <input type="hidden" name="id" id="id" value="{{recipe.id}}">
      </div>
    </div>
    
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default pull-left">Mégse</button>
        <button type="submit" id="alterButton" class="btn btn-success pull-right">Módosítás</button>
      </div>
    </div>
</form>